* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link {
  text-decoration: none;
  color: black;
}

.fullSize {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.flex-start {
  justify-self: flex-start;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}
